DB_INCOME_USERNAME= # Income DB username
DB_INCOME_PASSWORD= # Income DB password

DB_EXPENSE_USERNAME= # Expense DB username
DB_EXPENSE_PASSWORD= # Expense DB password

DB_SHOPPING_CART_USERNAME= # ShoppingCart DB username
DB_SHOPPING_CART_PASSWORD= # ShoppingCart DB password
MAX_CART_ITEMS= # Maximum number of items in a shopping cart

DB_ORDER_USERNAME= # Order DB username
DB_ORDER_PASSWORD= # Order DB password
ORDER_INITIAL_STATUS= # Initial order status

DB_DIALECT= # Database dialect
CONNECTION_STRING= # Connection string
NATS_SERVERS= # NATS server URLs